*{
  text-transform: capitalize;
}

body{
  scroll-behavior: smooth;

}


.hero {
    background-color:#e03131 ;
   
    padding: 70px 0;
  }

  .primary-head{
    font-size: 7.6rem;
  }


  .mar{
    background-color: #e03131;
    color: #fff;
    height: 33.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 50%;
    text-align: center;
    padding: 30px;
    
  }
  
  
  .hero__heading {
    font-size: 60px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  
  @media screen and (max-width: 768px) {
    .hero__heading {
      font-size: 60px;
    }
  
    .hero__description {
      font-size: 40px;
    }
  }
 
 
 
 
   /* Services Section */
   
   .services {
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     padding: 5rem 0;
   }
   
   
   .services__wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 3rem;
     padding: 4.2rem;
     
   }

     
    .services__card {
      /* height: 370px; */
      /* width: 290px; */
      border-radius: 4px;
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      /* flex-direction: column; */
      /* color: rgb(7, 7, 7); */
      /* background-color: white; */
      /* transition: 0.3s ease-in; */
      box-shadow: 2px 2px 40px rgb(0 0 0 / 19%);
      padding: 6.4rem;
  
   }

   
.iconremove{
  height: 24px;
  width: 24px;
  color: gray;
  transition: all 0.8ms;
  z-index: -1;
  margin-top: 1rem;
  cursor: pointer;
  
 
}


 
 /* sec 3 */
 
 
 .btn-product{
    border: none;
    width: 14rem;
    height: 3.6rem;
    background-color: #e03131;
    color: #fff;
    font-size: 1.4rem;
 }

 select{

    width: 14rem;
    height: 3.6rem;
    margin-bottom: 0;
 }
 
 
 
 .main-product img{
    width: 100%;
  
   
 }
 
 
 
 .third-head{
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
 }
 
 .product-price{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
 
 }
 .product-feature{
    display: flex;
    padding: 0.4rem;
    gap: 2.4rem;
    justify-content: center;
 }
 
 .icon{
    height: 24px;
    width: 24px;
    color: gray;
    transition: all 0.8ms;
    background-color: white;
    border: none;
 }
 
 
 
 .icon:active{
    color:  #e03131;
 }
 
 .margin-top-remove{
    margin-top: 0;
 }
 
 .btn-product{
    cursor: pointer;
 }
   
  
 
   
   @media screen and (max-width: 1300px) {
     .services__wrapper {
       grid-template-columns: 1fr 1fr;
     }
   }
   
   @media screen and (max-width: 768px) {
     .services__wrapper {
       grid-template-columns: 1fr;
     }

     

   }
 





   
/* media */





@media(max-width:56em){

    
  .wish-list{
         
      grid-template-columns: repeat(2,1fr);
  }


  .services__wrapper{
      grid-template-columns:repeat(2,1fr);
  }

  html{
      font-size: 50%;
  }
  
  }

@media(max-width:37.6em)
{
  .services__wrapper{
        grid-template-columns: 1fr;
    }


    .wish-list{
         
      grid-template-columns: 1fr;
  }

   

    html{
        font-size: 44%;
    }

}




